/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 5%;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

.video_block{
    background: #e7e7e8;
    min-height: 300px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}
.container h3{
	color:#000;
}

.container .video-container iframe{
	width:100%;
	height:50%;
}